@import '../../variables.scss';
.user-audience-title-container {
	margin: $spacing-l;
	margin-bottom: 0px;
	padding: $spacing-l;
}

.user-audience-details-container {
	margin-left: $spacing-s;
	padding: $spacing-s;
	max-height: calc(100vh - 130px);
	overflow: auto;

	.user-audience-details {
		cursor: pointer;
		padding: $spacing-xs;
	}
	
	.active {
		border: 1px solid $base-color;
		border-radius: 4px;
	}
}

.user-audience-details-container::-webkit-scrollbar {
	background-color: $subtitle-color;
	width: 3px;
}

 
.user-audience-details-container::-webkit-scrollbar-thumb {
  background-color: $base-color;
}
